# [[ project_name ]]

[[ project_description ]]

> This project uses the [Standard README](https://github.com/RichardLitt/standard-readme) format.

## Table of Contents

- [Sections](#sections)
  - [Install](#install)
  - [Usage](#usage)
  - [Contributing](#contributing)
  - [License](#license)

## Install

TODO

## Usage

TODO

## License

MIT License.

Copyright (c) [[ copyright_date ]] [[ maintainer_fullname ]]
